body {
  background-color: antiquewhite;
}
h2 {
  margin-left: 10px;
}

body {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 550;
}
span {
  color: rgb(192, 10, 10);
}
.qcont {
  display: flex;
}
.el {
  border-bottom: 2px solid;
  width: 220px;
  padding-left: 10px;
  padding-bottom: 20px;
}
img {
  vertical-align: bottom;
}
