body {
  background-color: antiquewhite;
}

h2 {
  margin-left: 10px;
}
a {
  color: rgb(4, 0, 255);
}
a:hover,
a:focus {
  text-shadow: 0 0 3px #6e20cc;
  margin-left: 0.5em;
  outline: none;
  position: relative;
  transition: margin 0.5s ease-in-out;
}
a:focus::before,
a:hover::before {
  content: ">";
  position: absolute;
  left: -12px;
  color: transparent;
}

body {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 550;
}
span {
  margin-left: 40px;
  color: rgb(192, 10, 10);
}

.cont {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: wrap;
  height: 800px;
}
.el {
  box-shadow: 4px 3px 15px 7px rgba(82, 59, 28, 0.2);
  width: 250px;
  height: 250px;
  padding-left: 15px;
  padding-bottom: 20px;
  margin: 20px;
}
img {
  vertical-align: bottom;
  padding-right: 15px;
  width: 33%;
}
h3 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
