.section_banner {
  display: flex;
  justify-content: center;
  width: 1813px;
  height: 500px;
  margin: 39px auto 0px auto;
  border-radius: 10px;
  overflow: hidden;
}
/* .section_banner a {
  border-radius: 10px;
} */
