@import url(general.css);
@import url(header.css);
@import url(program_block.css);
@import url(program_block_college.css);
@import url(prepod.css);
@import url(why_choose.css);
@import url(feedback.css);
@import url(footer.css);
@import url(max_width1730.css);
@import url(max_width1200.css);
@import url(max_width708.css);
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
