/*
font-family: 'Montserrat', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #2b2c54;
  height: 10000px;
}
.container {
  width: 1680px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
}

h2 .academ {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.div_academ {
  width: 1178px;
  height: 144px;
  background-color: aqua;
  color: #ffffff;
  background-image: url(img/block-icon.png);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
  width: 176px;
  height: 52px;
  left: 1630px;
  top: 19px;
  background: #f6f4fe;
  border: 1px solid #6743ef;
  box-shadow: 0px 4px 0px #6743ef;
  border-radius: 100px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #6743ef;
}
a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgba(43, 44, 84, 0.7);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  align-items: center;
}
.header ul li {
  margin-right: 60px;
}
.header ul li:last-child {
  margin-right: 0px;
}
.header img {
  padding: 13px 0px;
}
/* program_block */

.program_block h2 {
  margin-top: 99px;
  height: 120px;
}
.program_block h2 span {
  position: relative;
  width: 100%;
  height: 100%;
}
.program_block h2 span::before {
  content: "";
  position: absolute;
  top: -17px;
  left: -85px;
  width: 100%;
  height: 100%;
  background: url(../img/block-icon.png) no-repeat;
  z-index: -1;
}

.program_block ul {
  display: flex;
  justify-content: space-between;
}

.program_block ul li {
  width: 541px;
  height: 609px;
  position: relative;
  margin-top: 52px;
}
.program_block ul li::before {
  position: absolute;
  content: "";
  width: 541px;
  height: 609px;
  transform: rotate(-2.65deg);
  background-color: #8062f2;
  z-index: -1;
}

.block_item1 {
  background: url(../img/mask1.png), url(../img/block1.png) no-repeat 100%;
}
.block_item2 {
  background: url(../img/mask1.png), url(../img/block2.png) no-repeat 100%;
}
.block_item3 {
  background: url(../img/mask1.png), url(../img/block3.png) no-repeat 100%;
}
.program_block ul li h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #f6f4fe;
  padding-top: 299px;
  padding-left: 30px;
}
.program_block ul li h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  color: #ffffff;
  padding-top: 12px;
  padding-left: 30px;
}
.program_block ul li p {
  font-size: 16px;
  line-height: 140%;
  color: #f6f4fe;
}
.p_1 {
  padding-left: 30px;
  padding-top: 20px;
}
.p_2 {
  padding-left: 30px;
  padding-top: 10px;
}
.p_3 {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.btn1 {
  padding: 20px 40px;
  margin-left: 30px;
  margin-top: 50px;
  background: #9981f5;
  border: 1px solid #6743ef;
  box-shadow: 0px 4px 0px #6743ef, 0px 4px 30px rgba(128, 98, 242, 0.6);
  border-radius: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* SECTION program_block_college */
.program_block_college {
  position: relative;
  z-index: -1;
  height: 1000px;
  background: url("../img/collage-back-grey.png") no-repeat center 80px,
    url("../img/collage-back-violet.png") no-repeat center 154px;
}
.colage-h2-heigh {
  height: 120px;
}

.program_block_college h2 {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 30px;
}
.program_block_college h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  left: 824px;
  background: url(../img/block-icon.png) no-repeat;
  z-index: 10;
}

.mt120 {
  margin-top: 120px;
  position: relative;
}

.header_progr_college_p {
  margin-top: -27px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}
.program_block_college ul {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.program_block_college ul li {
  width: 826px;
  height: 560px;
  position: relative;
}
.program_block_college ul li::before {
  position: absolute;
  content: "";
  width: 826px;
  height: 560px;
  transform: rotate(-2.53deg);
  background-color: #8062f2;
  z-index: -1;
}

.block_college_item1 {
  background: url(../img/mask1.png), url(../img/block4.png) no-repeat 100%;
}
.block_college_item2 {
  background: url(../img/mask1.png), url(../img/block5.png) no-repeat 100%;
}
.program_block_college ul li h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #f6f4fe;
  padding-top: 228px;
  padding-left: 30px;
}
.program_block_college ul li h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  color: #ffffff;
  padding-top: 12px;
  padding-left: 30px;
}
.program_block_college ul li p {
  font-size: 16px;
  line-height: 140%;
  color: #f6f4fe;
}
.pc_1 {
  padding-left: 30px;
  padding-top: 20px;
}
.pc_2 {
  padding-left: 30px;
  padding-top: 10px;
}
.pc_3 {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}
/* SECTION  PREPOD*/
.h2_prepod {
  margin-top: -96px;
  margin-bottom: 50px;
}

.prepod_list {
  display: flex;
  justify-content: space-between;
}

.prepod_item {
  width: 390px;
  height: 512px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.prepod_item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/prepod/no-hover.png") center no-repeat;
  background-size: 100% 90%;
  left: -30px;
  top: 50px;
  z-index: -1;
}
.prepod_item:hover::before {
  background: url(../img/prepod/hover.png) center no-repeat;
  background-size: 100% 90%;
  transition: 1s;
}
.prepod_item p:hover {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #2b2c54;
  transition: 1s;
}

.prepod_item p {
  height: 90px;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: rgba(43, 44, 84, 0.7);
  padding-top: 33px;
  box-shadow: 0px 30px 60px rgba(43, 44, 84, 0.1);
}
.prepod_item img {
  width: 85%;
}
.prep_img1 {
  margin-left: 425px;
}
.prep_img2 {
  margin-left: 322px;
  margin-top: -10px;
}
.prep_img3 {
  margin-left: 311px;
}
.prep_h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: #0c1427;
  margin-top: 200px;
}
.prep_p {
  margin-top: 20px;
  margin-bottom: 62px;
  font-size: 18px;
  line-height: 120%;
  color: rgba(43, 44, 84, 0.7);
  text-align: center;
}
.prep-btn {
  padding: 20px 40px;
  margin-left: 711px;
  background: #9981f5;
  border: 1px solid #6743ef;
  box-shadow: 0px 4px 0px #6743ef, 0px 4px 30px rgba(128, 98, 242, 0.6);
  border-radius: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* SECTION   WHY CHOOSE  */
.why_choose {
  background: url("../img/why/why-fone.png") no-repeat center,
    url("../img/why/why-fone2.png") no-repeat top 48px center;
  height: 1314px;
}
.h2_why_choose {
  margin-top: 45px;
  padding-top: 115px;
  justify-content: center;
}
.span_why_choose {
  position: relative;
  z-index: 10;
}
.span_why_choose::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 257px;
  width: 276px;
  height: 81px;
  background: url("../img/why-chose-icon.png") no-repeat;
  z-index: -2;
}

.why_choose_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-left: 183px; /* почему не работает центр??*/
  position: relative;
}
.why_choose_list:last-child {
  justify-content: flex-start;
}

.why_choose_list_item1 {
  width: 428px;
  background: url(../img/why/why1.png) no-repeat 34px 1px,
    url(../img/why/zastawka.png) no-repeat;
}
.why_choose_list_item2 {
  width: 428px;
  background: url(../img/why/why2.png) no-repeat 38px 22px,
    url(../img/why/zastawka.png) no-repeat;
}
.why_choose_list_item3 {
  width: 428px;
  background: url(../img/why/why3.png) no-repeat 30px 7px,
    url(../img/why/zastawka.png) no-repeat;
}
.why_choose_list_item4 {
  width: 428px;
  background: url(../img/why/why4.png) no-repeat 34px 1px,
    url(../img/why/zastawka.png) no-repeat;
  margin-top: 40px;
}
.why_choose_list_item5 {
  width: 428px;
  background: url(../img/why/why5.png) no-repeat 34px 1px,
    url(../img/why/zastawka.png) no-repeat;
  margin-top: 40px;
}
.why_choose_list_item6 {
  width: 428px;
  background: url(../img/why/why6.png) no-repeat 34px 8px,
    url(../img/why/zastawka.png) no-repeat;
  margin-top: 40px;
}
.why_choose_list_item7 {
  width: 428px;
  background: url(../img/why/why7.png) no-repeat 34px 0px,
    url(../img/why/zastawka.png) no-repeat;
  margin-top: 40px;
}

.why_choose_list h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #2b2c54;
  padding-left: 30px;
  padding-top: 95px;
}

.why_choose_list p {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 18px;
  line-height: 140%;
}
.why_choose_list:after {
  content: "";
  position: absolute;
  top: 589px;
  left: 567px;
  width: 650px;
  height: 650px;
  background: url("../img/why/Mask\ group.png") no-repeat;
  background-size: 594px;
  z-index: 10;
}

/*SECTION   FEEDBACK */
.feedback h2 {
  margin-top: 181px;
  margin-bottom: 50px;
}

.feedback_list {
  display: flex;
  width: 1680px;
}

.feedback_list_item1 {
  flex-basis: 540px;
  margin-right: 30px;
  box-shadow: 0px 30px 60px rgba(43, 44, 84, 0.1);
}
.feedback_list_item2 {
  flex-basis: 540px;
  margin-right: 30px;
  box-shadow: 0px 30px 60px rgba(43, 44, 84, 0.1);
}
.feedback_list_item3 {
  flex-basis: 540px;
  box-shadow: 0px 30px 60px rgba(43, 44, 84, 0.1);
}
.p_14 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: rgba(43, 44, 84, 0.7);
}
.p1_list1 {
  padding-top: 18px;
  padding-left: 30px;
  margin-bottom: 8px;
}
.span1_list1 {
  margin-top: 8px;
  padding-left: 82px;
  position: relative;
}
.span1_list1::before {
  content: "";
  position: absolute;
  background: url(../img/feedback/user\ 1.jpg) no-repeat;
  width: 36px;
  height: 33px;
  top: -4px;
  left: 30px;
}
.span1_list1::after {
  content: "";
  position: absolute;
  background: url(../img/feedback/otzyvyby.jpg) no-repeat;
  width: 150px;
  height: 33px;
  top: 169px;
  left: 30px;
}

.p_16 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 64px;
  margin-top: 21px;
  line-height: 140%;
  color: rgba(43, 44, 84, 0.7);
  position: relative;
}
.p_16::after {
  content: "";
  position: absolute;
  background: url(../img/feedback/scrol.png) no-repeat;
  width: 10px;
  height: 110px;
  top: 4px;
  left: 529px;
}
.item2_h5 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #2b2c54;
  padding-top: 25px;
  padding-left: 105px;
  position: relative;
}
.item2_h5::before {
  content: "";
  background: url("../img/feedback/user2.jpg") no-repeat;
  position: absolute;
  width: 62px;
  height: 63px;
  left: 30px;
  top: 18px;
}
.item2_p1 {
  font-size: 14px;
  line-height: 140%;
  color: rgba(43, 44, 84, 0.7);
  padding-top: 5px;
  padding-left: 105px;
}
.item2_p2 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: rgba(43, 44, 84, 0.7);
  padding-top: 31px;
  padding-left: 169px;
  position: relative;
}
.item2_p2::before {
  content: "";
  background: url("../img/feedback/stars.jpg") no-repeat;
  position: absolute;
  width: 125px;
  height: 30px;
  left: 30px;
  top: 31px;
}
.item2_p3 {
  line-height: 140%;
  color: rgba(43, 44, 84, 0.7);
  padding-left: 30px;
  padding-top: 20px;
  position: relative;
}
.item2_p3::before {
  content: "";
  background: url("../img/feedback/yandex.jpg") no-repeat;
  position: absolute;
  width: 126px;
  height: 40px;
  left: 30px;
  top: 91px;
}
.item3_h5 {
  position: relative;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #2b2c54;
  padding-left: 30px;
  padding-top: 27px;
}
.item3_h5::before {
  content: "";
  background: url("../img/feedback/recomend.png") no-repeat;
  position: absolute;
  width: 126px;
  height: 40px;
  left: 281px;
  top: 24px;
}
.item3_h5::after {
  content: "";
  background: url("../img/feedback/stars_small.png") no-repeat;
  position: absolute;
  width: 126px;
  height: 40px;
  left: 422px;
  top: 27px;
}
.item3_p1 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(43, 44, 84, 0.7);
  padding-top: 11px;
  padding-left: 30px;
}
.item3_p2 {
  line-height: 140%;
  color: rgba(43, 44, 84, 0.7);
  padding-top: 11px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.item3_p2::before {
  content: "";
  background: url("../img/feedback/scrol.png") no-repeat;
  position: absolute;
  width: 44px;
  height: 120px;
  left: 530px;
  top: 15px;
}
.item3_p2::after {
  content: "";
  background: url("../img/feedback/relax.png") no-repeat;
  position: absolute;
  width: 126px;
  height: 40px;
  left: 30px;
  top: 140px;
}

.feed_img1 {
  margin-left: 425px;
  margin-top: 60px;
}
.feed_img2 {
  margin-left: 322px;
}
.feed_img3 {
  margin-left: 311px;
}
