* {
  margin: 0;
  padding: 0;
}
.pfoot {
  padding: 0px 20px;
}
li {
  margin-left: 30px;
}
a {
  color: #310efd;
  font-size: 18px;
}
h4 {
  font-size: 18px;
}

.fix {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 10px;
  right: 10px;
  background-color: green;
}
.privet {
  min-height: 44px;
  background-color: #aed9e7;
  color: #310efd;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
}
.glavnoe {
  height: 64px;
  background-color: #aed9e7;
  color: #310efd;
  text-align: center;
  vertical-align: middle;
  line-height: 64px;
  clear: both;
}
table {
  table-layout: fixed;
  width: 100%;
}
.li_foot {
  list-style-type: none;
  margin-left: 13px;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
}
.absolute {
  position: absolute;
  background: url(ball3.png) right top no-repeat,
    url(ball3.png) right bottom no-repeat;
  height: 100%;
  width: 20%;
  float: left;
}
.relative {
  position: relative;
  background: url(ball3.png) right top no-repeat,
    url(ball3.png) right bottom no-repeat,
    url(ball3.png) right 100px top no-repeat,
    url(ball3.png) right 100px bottom no-repeat,
    url(bac2.jpg) right top repeat-y;
}
