@font-face {
  font-family: "Pangolin";
  src: url(fonts/Pangolin-Regular.eot);
  src: url(fonts/Pangolin-Regular.eot?#iefix) format("embedded-opentype"),
    url(fonts/Pangolin-Regular.woff2) format("woff2"),
    url(fonts/Pangolin-Regular.woff) format("woff"),
    url(fonts/Pangolin-Regular.ttf) format("truetype"),
    url(fonts/Pangolin-Regular.svg#Pangolin-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comforter Brush";
  src: url(fonts/ComforterBrush-Regular.eot);
  src: url(fonts/ComforterBrush-Regular.eot?#iefix) format("embedded-opentype"),
    url(fonts/ComforterBrush-Regular.woff2) format("woff2"),
    url(fonts/ComforterBrush-Regular.woff) format("woff"),
    url(fonts/ComforterBrush-Regular.ttf) format("truetype"),
    url(fonts/ComforterBrush-Regular.svg#ComforterBrush-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex_el {
  text-align: center;

  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  text-align: center;
}
