* {
  margin: 0;
  padding: 0;
}

.privet {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: #aed9e7;
  color: #310efd;
  grid-column: 1/3;
  grid-row: 1;
}

.grid_cont {
  display: grid;
}

.menu {
  grid-column: 1/2;
  grid-row: 2;
  background-color: #f0e78d;
  width: 200px;
  height: 100%;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
}

.menu ul {
  font-size: 20px;
  margin-left: 40px;
  margin-top: 10px;
}
a {
  color: #310efd;
  font-size: 18px;
}

.cont {
  grid-column: 2/3;
  grid-row: 2;
  margin-left: 10px;
  background: url("box-perch.png") right top repeat-y;
}

.cont h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cont img {
  float: left;
  width: 400px;
  margin: 0px 20px 20px 10px;
}

.glavnoe {
  grid-column: 1/3;
  grid-row: 3;
  background-color: #aed9e7;
  color: #310efd;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

@media all and (max-width: 900px) {
  .cont {
    grid-column: 1/2;
    grid-row: 1;
    background: #fff;
  }

  .cont img {
    float: none;
    width: 100%;
  }

  .menu {
    grid-column: 1/2;
    grid-row: 2;
    background: #fff;
  }

  ul {
    display: flex;
  }
  li {
    margin-left: 10px;
    list-style-type: none;
  }
  .privet {
    display: none;
  }

  .glavnoe {
    display: none;
  }
}
